<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/daisyui@5.css">
    <style>
        [data-theme="light"] {
            {{#each theme.light}}
            {{daisyVar @key}}: {{this}};
            {{/each}}
        }

        [data-theme="dark"] {
            {{#each theme.dark}}
            {{daisyVar @key}}: {{this}};
            {{/each}}
        }
    </style>
</head>

<body data-theme="light">

    {{{body}}}

    <script src="/assets/browser@4.js"></script>
</body>

</html>